html{
    height: 100%;
  }
  
  body{
    font-family: "Arial", Helvetica, sans-serif;
    position: relative;
  }
  
  #container{
    text-align: center;
    position: relative;
    height: 100%;
  }
  
  #movies_booked, #form{
    display: inline-block;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    vertical-align:text-top;
  }
  
  fieldset, #movies_booked{
    border:1px solid #AED0EA;
    border-radius:8px;
    box-shadow:0 0 10px #D7EBF9;
  }
  
  legend, #disount_title{
    color: #2779AA;
    font-size: 120%;
    text-align: center;
    background-color: white;
  }
  
  p{
    overflow: hidden;
  }
  
  label{
    width: 50%;
    text-align: right;
    float: left;
    clear: both;
    color: #2779AA;
  }
  
  p input, p select{
    width: 40%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    color: #2779AA;
  }
  
  #theaters, #total_price, #movies_list, li, #perTicketPrice, #note{
    color: #2779AA;
  }
  
  p span, li{
    text-align: left;
  }
  
  #submit_wrapper{
    text-align: center;
  }
  
  #submit{
    font-size: 13px;
  }
  
  #discount, #perTicketPrice{
    text-align: left;
  }
  
  #dateNote{
    font-size: 9px;
  }

  .visuallyhidden {
    border: 0;
    clip: rect(0,0,0,0);
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
    margin: -1px;
    padding: 0}