#input-div{
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    margin-left: 20%;
    margin-right: 20%;
}
button {
    margin-top: 20px;
}

.image {
    float: right;
    width: 100px;
    height: 100px;

}